h1 {
  color: #B6130A;
  font-weight: bold; }

.bx-wrapper .bx-controls-direction a {
  z-index: 100 !important; }

#bx-pager {
  text-align: center; }

#banner2 {
  background: url("../../images/banner2.png");
  height: 249px;
  background-size: cover;
  background-position: right; }

section:first-child {
  margin-top: 0px; }

section {
  margin-top: 40px;
  padding-left: 15px; }

a div {
  line-height: 0 !important; }

#detail-banner2 {
  width: 350px;
  text-align: center;
  margin-top: 70px;
  font-size: 25px;
  line-height: 0.6; }

#white {
  background: rgba(255, 255, 255, 0.55);
  height: 100%;
  width: 100%;
  position: absolute; }

.text-center img {
  margin: 0px auto; }

#recommend {
  margin-top: 0px; }

#bxslider3 li a img {
  height: 220px; }

#recommend .bx-viewport {
  height: 220px !important; }

#event {
  padding-bottom: 20px; }

.main-content .container {
  background: white; }
