#banner {
  width: 100%;
  background-size: 2000px;
  background-image: url("../../images/bg_premium.png");
  /*height:667px;*/
  background-repeat: no-repeat; }

#detail-banner {
  margin-left: 100px;
  margin-top: 100px;
  font-size: 18pt; }

#content .container {
  background: white; }

#content .price {
  color: #F9C3CD;
  font-size: 30pt; }

#content .price-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#content .addtocart {
  text-align: right; }

#content .product-detail {
  font-size: 20pt; }
  #content .product-detail h2 {
    font-size: 30pt;
    font-weight: bold; }

#content .product-img {
  margin-top: 30px; }
