.navbar-default {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #F8F8F8;
  border: 0px solid white !important; }

.navbar-brand {
  font-size: 25pt;
  color: #B6130A !important;
  font-weight: bold; }

#type .navbar-right li a {
  color: #3E3E3E !important; }
  #type .navbar-right li a.active {
    color: #B6130A !important; }

#content .container, #head-bar .container {
  background: #F8F8F8;
  padding-bottom: 30px; }

#content .img-responsive, #head-bar .img-responsive {
  margin: 0px auto; }

#content .product-name, #head-bar .product-name {
  color: #B6130A;
  font-size: 1.5em;
  margin-bottom: 1px; }

#content .price, #head-bar .price {
  font-size: 1em; }

#content .bottom, #head-bar .bottom {
  height: 330px;
  padding: 10px;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 25px; }
  #content .bottom img, #head-bar .bottom img {
    max-height: 150px; }
