@charset "utf-8";
@font-face {
    font-family: 'PSL-Display';
    src: url('psl_display/psl29cs.eot');
    src: url('psl_display/psl29cs.eot?#iefix') format('embedded-opentype'),
    url('psl_display/psl29cs.woff') format('woff'),
    url('psl_display/psl29cs.ttf') format('truetype');
}
