// Import CSS Framework here ** !!
@import "./global/_constant.scss";

#banner{
	width: 100%;
	background-size: 2000px;
	background-image:url('../../images/bg_premium.png');
	/*height:667px;*/
	background-repeat:no-repeat;
}#detail-banner{
	
	margin-left:100px;
	margin-top:100px;
	font-size:18pt;
}#content{
	.container{
		background:white;
	}
	.price{
		color:#F9C3CD;
		font-size:30pt;
	}
	.price-item{
		display: flex;
		align-items: center;
	}.addtocart{
		text-align:right;
	}.product-detail{
		font-size:20pt;
		h2{
			font-size:30pt;
			font-weight:bold;
		}
	}.product-img{
		margin-top: 30px;
	}
}