// Import CSS Framework here ** !!
@import "./global/_constant.scss";

.navbar-default{
	margin-top:20px;
	margin-bottom:0px;

	background-color:#F8F8F8;
	border: 0px solid white!important;
}
.navbar-brand{
	font-size:25pt;
	color:#B6130A!important;
	font-weight:bold;
}#type{
		.navbar-right{
		li a{
			color:#3E3E3E!important;
			&.active{
				color:#B6130A!important;
			}
		}
	}
}
#content, #head-bar{
	.container{
		background:#F8F8F8;
		padding-bottom:30px;
	}.price{

	}.img-responsive{
		margin:0px auto;
	}
	.product-name{
		color:$header-text-default;
		font-size: 1.5em;
		margin-bottom: 1px;
	}.price{
		font-size: 1em;
	}.bottom{
		height:330px;
		padding:10px;
		border:1px solid #E2E2E2;
		border-radius: 2px;
		display: flex;
    	flex-direction: column;
    	align-items: center;
	    justify-content: flex-end;
	    margin-bottom:25px;
		img{
			max-height:150px;
		}
	}
}
