
// Global Constants
$header-bg-default: #FFF;
$header-text-default: #B6130A;
$header-text-hover: #929090;

$footer-bg-default: #B6130A;
$footer-text-default: #FFF;
$footer-text-hover: #999;

$link-text-default: #961E1E;
$link-text-hover: #868686;

$button-bg-default: #333;
$button-text-default: #B6130A;


// fonts
$helvethaica_regular : "db_helvethaica_x55_regular","Thonburi","Tahoma",serif;
$helvethaica_light : "db_helvethaica_x45_light","Thonburi","Tahoma",serif;
