@import "./_constant.scss";

footer{
  background: $footer-bg-default;
  color: $footer-text-default;
  margin-top:40px;
  #full-footer{
    padding: 30px 0;

    .headline{
      font-size: 22px;
      font-weight: bolder;
      color: $footer-text-default;
    }

    .headline:not(:first-child){
      margin-top: 8px;
    }

    .list{
      .item{
        display: block;
        font-size: 18px;
        color: $footer-text-default;

        &:hover{
          color: $footer-text-hover;
        }
      }
    }

    .button{
      display: block;
      margin-top: 14px;
    }
  }

  #wrap-footer{
    text-align: center;
    font-size: 20px;
    line-height: 18px;
    margin-top: 2px;

    > .sub-text {
      font-size: 16px;
      line-height: 14px;
    }
  }
  a{
    color:#FFF;
  }
  #copyright{
    color:#FFF;
  }
}
