@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_constant.scss";

body{
  display: flex;
  flex-direction: column;
  background:url('../../images/bg.gif') left top repeat;
  margin: 0;
  font-family: 'PSL-Display', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
}

a{
  color: $link-text-default;
  text-decoration: none;
  transition: all 0.4s;

  &:hover{
    color: $link-text-hover;
  }

  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
  }
}

*:focus{
  outline: none !important;
}

button{
  &.default{
    background: $button-bg-default;
    color: $button-text-default;
    margin: 5px 0;
    padding: 5px 45px;
    border: 0;
    border-radius: 5px;
  }
}

#ui-main
{
  padding-top: 140px;
  flex: 1 1 auto;

  &.fixed-fullscreen{
    height: auto;
    min-height: 100vh;
  }

  .main-content{
    min-height: 550px;


    padding-bottom:20px;

  }
}.btn-default{
  color:#F9C3CD;
  border-color:#F9C3CD;
    background-color: #FBFBFB;
    border-radius: 20px;
    padding: 5px 20px;
    &:hover{
    color: #FFF;
    background-color: #F1F1F1;
    border-color: #FFFFFF;
    }
}
