@import "_constant.scss";

header{
  background: $header-bg-default;
  width: 100%;
  position: fixed;
  z-index: 1000;
  height:90px;
  color: $header-text-default;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
      color: $header-text-default;

      &:hover {
        color: $header-text-hover;
      }
    }

    #logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 14px;

      /*&:hover{
        background: #666;
      }*/

      img{
        width: 200px;
      }
    }

    nav {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      ul{
        list-style-type: none;
      }
    }
    #cart{
      margin-top:-29px;
    }
    .nav-item{
      padding: 20px 10px;

    }

    #lang-bar{
      padding: 20px 14px;

      .langChange.active{
        color: #FFCC00;
      }
    }

    .another-nav{
      padding: 20px 14px;
    }
  }
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;  
}
#burger{
  margin-top: 13px;
}
#menu{
  background: $header-text-default;
  margin-top:80px;
  width: 100%;
  min-height:60px;
  color: $header-text-default;
  border:none;
  #navbar{
    justify-content: space-around;

  }

  .container {
    a {
      color: #fff;
      padding-top: 20px;
      height: 60px;
      &:hover {
        color: $header-text-hover;
      }
    }
      
    .active a{
        background-color:white!important;
        color: #B6130A;
    }

    .nav-item{
      padding: 20px 24px;

      &:hover{
        background: #666;
      }
    }

    #lang-bar{
      padding: 20px 14px;

      .langChange.active{
        color: #FFCC00;
      }
    }

    .another-nav{
      padding: 20px 14px;
    }
  }
}